<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgy.admin.mapper.adminMapper">
    <select id="getuser" resultType="com.lgy.admin.pojo.User">
        select * from admin where user_name = #{userName}
    </select>


</mapper>
